<div class='container'>
  <h3 class='cases__subtitle'>This is what we do</h3>
  <h2 class='cases__title'>Business Cases</h2>
  <p class='cases__text'>Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Architecto, sapiente !</p>
  <ul class='cases__list'>
    <li class='cases__list-item'><a
        class='cases__list-link'
        href='./images/cases/cases1.jpg'
        data-lightbox='cases'
        data-title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, vitae?'
      ><img
          class='cases__img'
          srcset='./images/cases/cases1.jpg 640w, ./images/cases/cases1.webp 640w, ./images/cases/cases1@x2.jpg 1280w,
./images/cases/cases1@x2.webp 1280w'
          type='image/webp'
          sizes='640px'
          alt='img1'
          src='./images/cases/cases1.jpg'
          height='427'
        /></a></li>
    <li class='cases__list-item'><a
        class='cases__list-link'
        href='./images/cases/cases2.jpg'
        data-lightbox='cases'
        data-title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, vitae?'
      ><img
          class='cases__img'
          srcset='./images/cases/cases2.jpg 640w, ./images/cases/cases2.webp 640w, ./images/cases/cases2@x2.jpg 1280w,
./images/cases/cases2@x2.webp 1280w'
          type='image/webp'
          sizes='640px'
          alt='img2'
          src='./images/cases/cases2.jpg'
          height='427'
        /></a></li>
    <li class='cases__list-item'><a
        class='cases__list-link'
        href='./images/cases/cases3.jpg'
        data-lightbox='cases'
        data-title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, vitae?'
      ><img
          class='cases__img'
          srcset='./images/cases/cases3.jpg 640w, ./images/cases/cases3.webp 640w, ./images/cases/cases3@x2.jpg 1280w,
./images/cases/cases3@x2.webp 1280w'
          type='image/webp'
          sizes='640px'
          alt='img3'
          src='./images/cases/cases3.jpg'
          height='427'
        /></a></li>
    <li class='cases__list-item'><a
        class='cases__list-link'
        href='./images/cases/cases4.jpg'
        data-lightbox='cases'
        data-title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, vitae?'
      ><img
          class='cases__img'
          srcset='./images/cases/cases4.jpg 640w, ./images/cases/cases4.webp 640w, ./images/cases/cases4@x2.jpg 1280w,
./images/cases/cases4@x2.webp 1280w'
          type='image/webp'
          sizes='640px'
          alt='img4'
          src='./images/cases/cases4.jpg'
          height='427'
        /></a></li>
    <li class='cases__list-item'><a
        class='cases__list-link'
        href='./images/cases/cases5.jpg'
        data-lightbox='cases'
        data-title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, vitae?'
      ><img
          class='cases__img'
          srcset='./images/cases/cases5.jpg 640w, ./images/cases/cases5.webp 640w, ./images/cases/cases5@x2.jpg 1280w,
./images/cases/cases5@x2.webp 1280w'
          type='image/webp'
          sizes='640px'
          alt='img5'
          src='./images/cases/cases5.jpg'
          height='427'
        /></a></li>
    <li class='cases__list-item'><a
        class='cases__list-link'
        href='./images/cases/cases6.jpg'
        data-lightbox='cases'
        data-title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, vitae?'
      ><img
          class='cases__img'
          srcset='./images/cases/cases6.jpg 640w, ./images/cases/cases6.webp 640w, ./images/cases/cases6@x2.jpg 1280w,
./images/cases/cases6@x2.webp 1280w'
          type='image/webp'
          sizes='640px'
          alt='img6'
          src='./images/cases/cases6.jpg'
          height='427'
        /></a></li>
    <li class='cases__list-item'><a
        class='cases__list-link'
        href='./images/cases/cases7.jpg'
        data-lightbox='cases'
        data-title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, vitae?'
      ><img
          class='cases__img'
          srcset='./images/cases/cases7.jpg 640w, ./images/cases/cases7.webp 640w, ./images/cases/cases7@x2.jpg 1280w,
./images/cases/cases7@x2.webp 1280w'
          type='image/webp'
          sizes='640px'
          alt='img7'
          src='./images/cases/cases7.jpg'
          height='427'
        /></a></li>
    <li class='cases__list-item'><a
        class='cases__list-link'
        href='./images/cases/cases8.jpg'
        data-lightbox='cases'
        data-title='Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, vitae?'
      ><img
          class='cases__img'
          srcset='./images/cases/cases8.jpg 640w, ./images/cases/cases8.webp 640w, ./images/cases/cases8@x2.jpg 1280w,
./images/cases/cases8@x2.webp 1280w'
          type='image/webp'
          sizes='640px'
          alt='img8'
          src='./images/cases/cases8.jpg'
          height='427'
        /></a></li>
  </ul>
</div>
