%button {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  color: $btn-color;
  background: $main-bg-color;
}

%link {
  display: inline-block;
  text-decoration: none;
}

%background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%pseudo {
  content: '';
  display: inline-block;
}

%pseudo-before {
  content: '\005B';
}

%pseudo-after {
  content: '\005D';
}

%social-icons {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

%buttom-header {
  display: block;
  border-radius: 5px;
  border-color: $secondary-bg-color;
  border: none;
  color: $main-color;
  background: $secondary-bg-color;
}

%buttom-footer {
  border: none;
  background-color: $footer-bg-color;
  color: $main-color;
  outline: 0;
}
