<div class='team-container'>
  <h3 class='team__subtitle'>Who we are</h3>
  <h2 class='team__title'>Our Professional Team</h2>
  <p class='team__text'>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Architecto, sapiente !</p>
  <ul class='team__list'>
    <li class='team__list-item'><img
        class='team__img'
        srcset='./images/team/person1.jpg 640w, ./images/team/person1@2x.jpg 1280w'
        sizes='640px'
        alt='img1'
        src='./images/team/person1.jpg'
        height='426'
      />
      <h3 class='team__list-name'>John Doe</h3>
      <p class='team__list-occupation'>President</p>
      <div class='overlay'>
        <ul class='overlay-list'>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-facebook'></span>
            </a>
          </li>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-twitter'></span>
            </a>
          </li>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-youtube'></span>
            </a>
          </li>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-linkedin-in'></span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class='team__list-item'><img
        class='team__img'
        srcset='./images/team/person2.jpg 640w, ./images/team/person2@2x.jpg 1280w'
        sizes='640px'
        alt='img2'
        src='./images/team/person2.jpg'
        height='426'
      />
      <p class='team__list-name'>Jane Doe</p>
      <p class='team__list-occupation'>Vice President</p>
      <div class='overlay'>
        <ul class='overlay-list'>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-facebook'></span>
            </a>
          </li>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-twitter'></span>
            </a>
          </li>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-youtube'></span>
            </a>
          </li>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-linkedin-in'></span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class='team__list-item'><img
        class='team__img'
        srcset='./images/team/person3.jpg 640w, ./images/team/person3@2x.jpg 1280w'
        sizes='640px'
        alt='img1'
        src='./images/team/person3.jpg'
        height='426'
      />
      <h3 class='team__list-name'>Steve Smith</h3>
      <p class='team__list-occupation'>Marketing Head</p>
      <div class='overlay'>
        <ul class='overlay-list'>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-facebook'></span>
            </a>
          </li>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-twitter'></span>
            </a>
          </li>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-youtube'></span>
            </a>
          </li>
          <li class='overlay-list__item'>
            <a class='overlay-list__link'>
              <span class='fab fa-linkedin-in'></span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
