<ul class='about__list'>
  <li class='about__list-item'><span class='fas fa-university fa-2x'></span>
    <h2 class='about__list-title'>Investmant Banking</h2>
    <h3 class='about__list-subtitle'>Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Consequatur, necessitatibus !</h3>
  </li>
  <li class='about__list-item'><span class='fas fa-book-reader fa-2x'></span>
    <h2 class='about__list-title'>Portfolio Manager</h2>
    <h3 class='about__list-subtitle'>Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Consequatur, necessitatibus !</h3>
  </li>
  <li class='about__list-item'><span
      class='fas fa-pencil-alt fa-2x about__icon'
    ></span>
    <h2 class='about__list-title'>Tax & Custudio</h2>
    <h3 class='about__list-subtitle'>Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Consequatur, necessitatibus !
    </h3>
  </li>
</ul>
<div class='about-wrapper'>
  <div class='about-wrapper__img'>
    <img
      class='about__img'
      srcset='./images/about/people.jpg 1280w, ./images/about/people.webp 1280w, ./images/about/people@x2.jpg 2560w,
./images/about/people@x2.webp 2560w'
      type='image/webp'
      sizes='1280px'
      alt='people_img'
      src='./images/about/people.jpg'
      height='855'
    />
  </div>
  <div class='about-container'>
    <p class='about__text'>What you are looking for</p>
    <h2 class='about__title'>We provide bespoke solutions</h2>
    <h3 class='about__subtitle'>Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores
      nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum
      temporibus doloribus iste maiores deleniti?</h3><button
      class='fas fa-angle-right about__button'
    >Read More</button>
  </div>

</div>
