.contact {
  margin: 0 auto;

  background-color: $contact-bg-color;

  @media (min-width: 768px) {
    width: 768px;
    @include center-flex();
  }

  @media (min-width: 1360px) {
    width: 1360px;
  }

  &__img {
    object-fit: cover;

    @media (min-width: 768px) {
      width: 384px;
      min-height: 349px;
    }

    @media (min-width: 1024px) {
      width: 680px;
      min-height: 460px;
    }
  }

  &-container {
    @media (min-width: 768px) {
      width: 768px;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    @media (min-width: 1360px) {
      width: 1360px;
    }
  }

  &__title {
    @include font-set($main-font, 38px, 300, 48px);
    color: $contact-font-color;
    margin-bottom: 34px;
    padding: 26px 143px 0px 30px;

    @media (min-width: 768px) {
      padding-right: 49px;
    }
  }

  &__list {
    padding: 0px 30px 10px 30px;
  }

  &__label {
    @include font-set($main-font, 16px, 400, 23.04px);
    color: $contact-font-color;
    display: block;

  }

  &__form {}

  &__form-input {
    @include font-set($main-font, 16px, 400, 23.04px);
    width: 260px;
    height: 40px;
    color: $contact-font-color;
    padding-left: 5px;
    border: none;

    @media (min-width: 768px) {
      width: 324px;
      @include font-set($main-font, 18px, 400, 25px);
    }

    @media (min-width: 1360px) {
      width: 620px;
    }

    &:focus {
      outline: none;
    }

    &:required:focus:valid {
      // outline: 1px solid green;
    }

    &:required:focus:invalid {
      // outline: 1px solid red;
    }

  }

  &__list-item {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 53px;
    }
  }

  &-wrapper {
    @media (min-width: 768px) {
      width: 384px;
      height: 349px;
    }
  }
}


.form__btn {
  @extend %button;
  @include font-set($main-font, 16px, 400, 21.79px);
  width: 260px;
  height: 43px;
  color: $main-color;
  border-radius: 5px;
  background-color: $btn-color;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    width: 324px;
    @include font-set($main-font, 18px, 400, 25px);
  }

  @media (min-width: 1360px) {
    width: 620px;
  }
}

.invisible {
  display: none;
}
