.fa-youtube::before,
.fa-twitter::before,
.fa-linkedin-in::before,
.fa-facebook::before {
  font-size: 35px;
  text-align: center;
  // color: rgb(255, 255, 255);
}


.overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 186px;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;

  @media (min-width: 768px) {
    height: 148px;
  }

  @media (min-width: 1360px) {
    height: 280px;
  }
}

.overlay-list {
  @include center-flex();
  justify-content: space-evenly;
  width: 216px;
  height: 100%;
  border: none;

  position: absolute;

  &__item {
    @include center-flex();
    width: 35px;
    height: 35px;
  }


  &__link {
    @include center-flex();
    width: 100%;
    height: 100%;


    &:hover,
    .fa-youtube,
    .fa-twitter,
    .fa-linkedin-in,
    .fa-facebook {
      border: none;
      cursor: pointer;
      color: $team-hover-color;
      opacity: 1;
      visibility: visible;
      transition: color 200ms linear;
      transform: scale(1.07);
    }
  }
}
